body {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: white;
    color: black;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 2 em 1em;
}

header {
    text-align: center;
}

/* #stemchats-logo {
    width: 180px;
} */

nav {
    margin: 2em auto 0;
    max-width: 600px;
    padding-top: 1em;;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
    color: grey;
}

nav ul li {
    list-style: none;
}

a:hover {
    color: #ff5959;
}

nav ul li a {
    font-size: 1.25em;
    color: black;
    font-weight: 700px;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: column-reverse;
    padding-top: 5em;;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.welcome p {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 400px;
    line-height: 1.5em;
    margin: 1.5em auto;
    margin-bottom: 2em;
}

.welcome a {
    background: #ff5959;
    padding: 1em 3em;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}


.newsletter {
    text-align: center;
}

.newsletter h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.newsletter p {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 400px;
    line-height: 1.5em;
    margin: 1.5em auto;
}

.newsletter a {
    background: #ff5959;
    padding: 1em 3em;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}

.newsletter_signup {
    margin-top: -1em;
    margin-bottom: 3em;
}

::placeholder {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    text-align: center;
}

figure {
    text-align: center;
}

figure img {
    margin: center;
    width: 100%;
}

/* about page */

.team {
    text-align: center;
    width: 100%;
}

.team_container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    font-family: system-ui, Helvetica, Arial, sans-serif;
    border-radius: 25px;
    text-align: center;
    box-shadow: 3px 0 8px rgba(122,134,142,.15), 0 4px 4px rgba(122,134,142,.15); */
    flex: 1 0 100%;
    max-width: 15em;
    padding: 3%;
    margin: 4%
}

.card-img-top {
    border-radius: 75px;
    width: 10em;
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sub_title h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.sub_title p {    
    font-size: 1.25em;
    font-weight: 400;
    max-width: 500px;
    line-height: 1.5em;
    margin: 1em auto;
}

.border_title h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.border_title p {
    font-size: 1.25em;
    font-weight: 400;
    max-width: 750px;
    line-height: 1.5em;
    margin: 1em auto;
}


@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }
    nav ul li a {
        font-size: 1.375em;
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    .highlight {
        border: 3px solid #ff5959;
        border-radius: 50px;
    }
    main {
        flex-flow: row;
    }
    .welcome {
        text-align: left;
    }
    .welcome h1 {
        font-size: 4em;
    }

    .welcome p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 2em 0;
    }
    .newsletter {
        text-align: right;
        padding-top: 4em;
    }
    .newslsetter h1 {
        font-size: 4em;
    }
    .newsletter p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 2em 2em;
    }
    ::placeholder {
        text-align: left;
    }
    .figure img {
        width: 120%;
        margin: 0;
    }
}
