body {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    background: white;
    color: black;
}

.container {
    max-width: 1005px;
    margin: 0 auto;
    padding: 2 em 1em;
}

header {
    text-align: center;
}

/* #stemchats-logo {
    width: 180px;
} */

nav {
    margin: 2em auto 0;
    max-width: 600px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 1.25em;
    color: black;
    font-weight: 700px;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: column-reverse;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 2.5em;
    font-weight: 700;
}

.hero p {
    font-size: 1.2em;
    font-weight: 600;
    max-width: 500px;
    line-height: 1.8em;
    margin: 3em auto;
}

.hero p::before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid #4f9da6;
}

.hero a {
    background: #4f9da6;
    padding: 1em 3em;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
}

figure {
    text-align: center;
}

figure img {
    margin: center;
    width: 300px;
}

@media screen and (min-width: 820px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        align-items: center;
    }
    nav {
        margin: 0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        list-style: none;
        padding: 0.5em 2em;
    }
    nav ul li a {
        font-size: 1.375em;
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    .highlight {
        border: 3px solid #4f9da6;
        border-radius: 50px;
    }
    main {
        flex-flow: row;
    }
    .hero {
        text-align: left;
    }
    .hero h1 {
        font-size: 4em;
    }
    .hero p:before {
        margin: 1em 0;
    }
    .hero p {
        font-size: 1.3em;
        padding: 0;
        margin: 0 0 3em 0;
    }
    /* .hero a {
        background: #233142;
    } */
    .figure img {
        width: 120%;
        margin: 0;
    }
}