//Only media queries

$main-color : #ff5959;
$main-font :  'Karla', sans-serif;
$small-font-title: 32px;
$small-font-description: 18px;

@mixin smallFlexCenter {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin largeFlexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width: 991px) {
    /*computer */
    .navbar {
        background-color: white!important;
        padding-top: 10px;
        padding-right: 10em;
        padding-left: 10em;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);

        .navbar-brand {
            color: black !important;
            font-size: 30px;
        }

        .navbar-nav {
            .nav-button {
                background-color: #ff5959;
                border-radius: 10px;
                font-size: 20px;
                margin: 0 0 0 1.5em;
    
                .nav-button-text {
                    color: white !important;
                }
            }

            .nav-item {
                color: black!important;
                font-weight: 600;
                padding: 1em;
                font-size: 14px;
                margin: -0.2em 1em;
            }
        }
    }

    #intro {
        @include largeFlexCenter();
        text-align: left !important;
        margin-top: 0em;

        .welcome-box-title {
            font-size: 50px;
            font-weight: 800;
        }
        .welcome-box-description {
            font-size: 18px;
            font-weight: 400;
        }
        .welcome-button {
            margin-bottom: 0em;
        }
        .welcome-box {
            margin-top: 8em;
            float: left;
        }
        .top-img {
            display: inline;
            max-width: 130%;
            margin-left: -2.5em;
        }
    }

    #newsletter {
        flex: row;
        @include largeFlexCenter();
        text-align: left !important;

        height: 85vh;

        .newsletter-box-title {
            font-size: 54px;
            font-weight: 800;
        }
        .newsletter-box-description {
            font-size: 18px;
            font-weight: 400;
        }
        .newsletter-button {
            margin-bottom: 0em;
        }
        .newsletter-box {
            margin-top: 10em;
            float: left;
        }
        .newsletter-img {
            display: inline;
            max-width: 130%;
            margin-left: -12.5em;
        }
    }

    #programs {
        @include largeFlexCenter();
        height: 50vh;
    }

    // ABOUT US PAGE STYLES

    .partners {
        height: 80vh;

        margin-top: 0em;
        margin-bottom: 0em;

        .partners-box-description {
            margin: 0 5em;

        }
        .partners-img {
            max-width: 80%;
        }
    }

    .team {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $main-font;
        height: 100%;

        padding: 2em;
        background-color: white;
        color: black;

        .team-box-title {
            font-size: $small-font-title;
            font-weight: 800;
            margin-top: 0em;
            font-size: 40px;
        }
        .team-box-description {
            font-size: $small-font-description;
            font-weight: 400;
            margin: 1em 12.5em;
        }

        /*.team-divider {
            background-color: #FAFAFA !important;
            text-align: center;
            font-size: 32px !important;

            .team-divider-header {
                color: black !important;
                font-weight: 800;
            }
        }*/

        .teamcard {
            padding: 2em;
            margin-bottom: -3em;
            border-radius: 10px;
            border: 1px white;
            //width: 100%;
            .teamcard-image {
                border-radius: 100px;
                max-width: 50%;
            }
            .teamcard-title {
                font-weight: 700 !important;
                font-size: 24px;
                text-align: center;
            }
            .teamcard-description {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.7);
                text-align: center;
            }
        }
    }

    // OUR PROGRAMS STYLES

    .breakdown {
        @include flexCenter();

        margin-top: 4em;
        padding: 0em;

        .breakdown-box-title {
            margin-top: 0em;
        }

        .breakdown-box-description {
            margin: 1em 5em 2em;
        }

        .breakdown-card {
            padding: 2em;
            margin: 0em;

            .breakdown-card-img-top {
                max-height: 150px;
            }

            .breakdown-card-title {
                font-weight: 800 !important;
                font-size: 36px;
            }
        }
    }

    .programs {
        padding: 0em;
        background-color: white;
        color: black;
        margin: 5em 0 5em 0;
    }

    /* Modals */
    .left {
      text-align:left;
    }
}

@media screen and (max-width: 1475px) {
    // reduce padding in navbar
    .navbar {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media screen and (max-width: 1200px) {
    // reduce padding in navbar
    .navbar {
        padding-left: 3em;
        padding-right: 3em;

        .navbar-nav {
            .nav-item {
                padding-left: 0;
                padding-right: 0;
                margin-right: 1rem;
                margin-left: 1rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */
    .navbar-brand {
        color: black !important;
        font-size: 30px;
    }
    
    .navbar-nav {
        .nav-link {
            float: right;
        }

        .dropdown-menu {
            text-align: right;
            border: none;
    
            .dropdown-item {
                padding: .35rem 1rem;

                &:first-child {
                    margin-top: 2.25rem;
                }
    
                &:hover {
                    color: $main-color;
                    background-color: white;
                    transform: translateX(-7%);
                    transition: .3s;
                }
            }
        }
    }

    #intro #arrow {
        left: 6rem;
        bottom: 4rem;
    }

    .left {
        text-align:left;
    }

    .name {
        padding-top: 10px;
    }

    .modal:before { //scroll modal
        content: '';
        display: inline-block;
        // height: 10%;
    }

    .btn-primary {
        @include center();
    }

    .oppcard {
        box-shadow: 0 0 8px rgba(0,0,0,.1);
    }
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

    // .modal:before {
    //   height: 10%;
    // }

    .modal-header {
        .close {  //style close button when screen resizes
        margin: -6px;
        }
    }

    #intro #arrow {
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    #upcoming {
        img {
            width: 100%;
        }
    }

    .float {
        @include center();
        float: none !important;
        max-width: 100%;
    }
}

@media screen and (max-width: 479px) {
/* start of phone styles */
    .program-box {
        .program-box-text {
            font-size: 16px;
        }
    }

    .modal .modal-dialog {
        position:relative;
        width:auto;
    }
}
