@media only screen and (min-width: 991px) {
  /*computer */
  .navbar {
    background-color: white !important;
    padding-top: 10px;
    padding-right: 10em;
    padding-left: 10em;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  .navbar .navbar-brand {
    color: black !important;
    font-size: 30px;
  }
  .navbar .navbar-nav .nav-button {
    background-color: #ff5959;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 0 0 1.5em;
  }
  .navbar .navbar-nav .nav-button .nav-button-text {
    color: white !important;
  }
  .navbar .navbar-nav .nav-item {
    color: black !important;
    font-weight: 600;
    padding: 1em;
    font-size: 14px;
    margin: -0.2em 1em;
  }
  #intro {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left !important;
    margin-top: 0em;
  }
  #intro .welcome-box-title {
    font-size: 50px;
    font-weight: 800;
  }
  #intro .welcome-box-description {
    font-size: 18px;
    font-weight: 400;
  }
  #intro .welcome-button {
    margin-bottom: 0em;
  }
  #intro .welcome-box {
    margin-top: 8em;
    float: left;
  }
  #intro .top-img {
    display: inline;
    max-width: 130%;
    margin-left: -2.5em;
  }
  #newsletter {
    -webkit-box-flex: row;
        -ms-flex: row;
            flex: row;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left !important;
    height: 85vh;
  }
  #newsletter .newsletter-box-title {
    font-size: 54px;
    font-weight: 800;
  }
  #newsletter .newsletter-box-description {
    font-size: 18px;
    font-weight: 400;
  }
  #newsletter .newsletter-button {
    margin-bottom: 0em;
  }
  #newsletter .newsletter-box {
    margin-top: 10em;
    float: left;
  }
  #newsletter .newsletter-img {
    display: inline;
    max-width: 130%;
    margin-left: -12.5em;
  }
  #programs {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  .partners {
    height: 80vh;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .partners .partners-box-description {
    margin: 0 5em;
  }
  .partners .partners-img {
    max-width: 80%;
  }
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Karla", sans-serif;
    height: 100%;
    padding: 2em;
    background-color: white;
    color: black;
    /*.team-divider {
            background-color: #FAFAFA !important;
            text-align: center;
            font-size: 32px !important;

            .team-divider-header {
                color: black !important;
                font-weight: 800;
            }
        }*/
  }
  .team .team-box-title {
    font-size: 32px;
    font-weight: 800;
    margin-top: 0em;
    font-size: 40px;
  }
  .team .team-box-description {
    font-size: 18px;
    font-weight: 400;
    margin: 1em 12.5em;
  }
  .team .teamcard {
    padding: 2em;
    margin-bottom: -3em;
    border-radius: 10px;
    border: 1px white;
  }
  .team .teamcard .teamcard-image {
    border-radius: 100px;
    max-width: 50%;
  }
  .team .teamcard .teamcard-title {
    font-weight: 700 !important;
    font-size: 24px;
    text-align: center;
  }
  .team .teamcard .teamcard-description {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  .breakdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4em;
    padding: 0em;
  }
  .breakdown .breakdown-box-title {
    margin-top: 0em;
  }
  .breakdown .breakdown-box-description {
    margin: 1em 5em 2em;
  }
  .breakdown .breakdown-card {
    padding: 2em;
    margin: 0em;
  }
  .breakdown .breakdown-card .breakdown-card-img-top {
    max-height: 150px;
  }
  .breakdown .breakdown-card .breakdown-card-title {
    font-weight: 800 !important;
    font-size: 36px;
  }
  .programs {
    padding: 0em;
    background-color: white;
    color: black;
    margin: 5em 0 5em 0;
  }
  /* Modals */
  .left {
    text-align: left;
  }
}

@media screen and (max-width: 1475px) {
  .navbar {
    padding-left: 5em;
    padding-right: 5em;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding-left: 3em;
    padding-right: 3em;
  }
  .navbar .navbar-nav .nav-item {
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  .navbar-brand {
    color: black !important;
    font-size: 30px;
  }
  .navbar-nav .nav-link {
    float: right;
  }
  .navbar-nav .dropdown-menu {
    text-align: right;
    border: none;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    padding: .35rem 1rem;
  }
  .navbar-nav .dropdown-menu .dropdown-item:first-child {
    margin-top: 2.25rem;
  }
  .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ff5959;
    background-color: white;
    -webkit-transform: translateX(-7%);
            transform: translateX(-7%);
    -webkit-transition: .3s;
    transition: .3s;
  }
  #intro #arrow {
    left: 6rem;
    bottom: 4rem;
  }
  .left {
    text-align: left;
  }
  .name {
    padding-top: 10px;
  }
  .modal:before {
    content: '';
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .modal-header .close {
    margin: -6px;
  }
  #intro #arrow {
    bottom: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #upcoming img {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  .program-box .program-box-text {
    font-size: 16px;
  }
  .modal .modal-dialog {
    position: relative;
    width: auto;
  }
}
/*# sourceMappingURL=media.css.map */