@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

$main-color : #ff5959;
$light-grey : #f8f8f8;
$main-font :  'Karla', sans-serif;
$small-font-title: 32px;
$small-font-description: 18px;

@mixin smallFlexCenter {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin largeFlexCenter {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

// BASE STYLES

* {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        color: $main-color;
        border-bottom: 1px dashed #ccc;
        text-decoration: none;
        transition: all .3s;

        &:hover, &:active {
            text-decoration: none;
            color: $main-color;
            border-bottom: 1px dashed $main-color;
        }
    }
}

body {
    padding-top: 5em;
    overflow-x: hidden;

    li {
        margin-bottom: 0.75rem;
    }
}

.important {
    padding: 20px;
    border: 1px solid $main-color;
    text-align: center;
    margin: -10px 0px 30px 0px;
    border-radius: 25px;
    font-size: 16px;
    background: white;
}
// DESIGNS

.section-gray-bg {
    background-color: $light-grey;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.program-link { // links found in indiv program pages
    font-weight: bold;
}

.info-section {
    ol {
      font-size: $small-font-description;
      margin-bottom: 6em;
    }

    @include flexCenter();
    text-align: left;
    padding: 0 2em;

    .section-title {
        margin-top: 3em;
        margin-bottom: 1em;
        font-weight: bold;
    }

    .section-description {
        margin-bottom: 1em;
        font-size: $small-font-description;

        &:last-child {
            margin-bottom: 6em;
        }
    }
}

.small-box-title {
    font-size: $small-font-title;
    font-weight: bold;
    text-transform: capitalize;
}

.large-box-title {
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
}

.medium-box-title{
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 2rem;
}
.medium-box-title-nocenter{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 40px;
}

.medium-box-subtitle{
    font-size: $small-font-title;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 2rem;
}

.medium-box-subtitle2{
    font-size: $small-font-description;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.box-description {
    font-size: $small-font-description;
}

b { // for bolding text
    color: $main-color;
}

/* buttons */
.btn-primary {
    font-size: 20px;
    color: white;
    padding: 0.3em 1.7em;
    margin-bottom: 1em;
    border: 1px solid rgba($color: $main-color, $alpha: 0.0);
    border-radius: 10px;
    background: linear-gradient(to right, $main-color 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 0.5s ease;

    &:hover {
        border: 1px solid $main-color;
        color: $main-color;
        background-position: right bottom;
    }
}



// NAVBAR

.navbar {
    background-color: white;
    padding: 0.25em 2em;

    .navbar-brand {
        font-weight: bold;
        color: black;
        font-size: 30px;
    }

    .navbar-nav {
        margin-left: auto;

        .nav-item {
            color: grey;
            font-size: 16px;
            align-items: center;

            .nav-link {
                white-space: nowrap;
            }
        }
    }

    .dropdown-item:hover {
        color: $main-color;
        background-color: white;
        transition: .3s;
    }

    .custom-toggler.navbar-toggler { // menu icon toggler --> smaller screens
        border-color: white;
        outline: none;
    }

    a {
        border: none; //nullifies base anchor link styles
    }
}



// HOME PAGE STYLES

#intro {
    @include largeFlexCenter();
    padding-bottom: 5em;
    margin: 0em 0.5em;

    .top-img {
        max-width: 100%;
    }

    #arrow {
        margin-top: 2rem;
        animation: bouncing 1.3s ease-in-out infinite;
        transition: 0.2s;

        &.gone {
            opacity: 0;
        }
    }
}

#upcoming {
    margin: 6em 0;

    .important {
        width: 100%;
    }

    .medium-box-title-nocenter {
        margin-top: 1rem;
        margin-bottom: 1.15rem;
    }

    img {
        width: 100%;
        margin-bottom: 1rem;
    }
}

#newsletter {
    padding: 3em 1em 5em;
    margin-top: 4em;
    height: 100vh;

    .newsletter-img {
        max-width: 100%;
    }
}

#dropdownSelectTeam {
    background-color: $main-color;
    border-color: $main-color;
    color: white;

    &:focus {
        box-shadow: inset 0 0 0 #ddd;
    }
}

.aboutus {
    @include flexCenter();
    background-color: white;
    padding: 3em 0em 1em;
    margin: 1em 1em 0;
}




// OUR TEAM PAGE

.team {
    @include flexCenter();
    height: 100%;
    padding: 1em;
    background-color: white;
    color: black;

    .dropdown-item {
        &:hover {
            border: none;
            color: $main-color;
            background-color: white;
        }
        &:active {
            background-color: white;
        }
    }

    .teamcard {
        padding: 0.5em;
        margin-bottom: 0em;
        border: 1px white;
        text-align: center;

        .teamcard-img {
            border-radius: 15px;
            max-width: 100%;
        }
        .teamcard-title {
            font-weight: bold;
            font-size: 24px;
        }
        .teamcard-description {
            font-size: $small-font-description;
        }
    }

    #team_container {
      height: 2000px; //hide bottom of page before animation
    }
}




// OUR PROGRAMS (OVERVIEW) STYLES

.breakdown {
    @include flexCenter();
    height: 100%;
    padding: 1em;

    .breakdown-box-description {
        font-size: $small-font-description;
        margin: 1em 0em;
    }

    .breakdown-card {
        padding: 0.5em;
        margin: 1em 0;
        border-radius: 10px;

        .breakdown-card-title {
            font-weight: bold;
            font-size: 36px;
        }
        .breakdown-card-img-top {
            max-height: 250px;
            justify-content: center;
        }
    }
}

//PROGRAMS PAGE - ACCORDIAN

.programs {
    padding: 1em;
    background-color: white;
    margin-top: 1em;

    .programs-divider {
        background-color: #FAFAFA;
        text-align: center;
        font-size: $small-font-title;

        .programs-divider-header {
            color: black;
            font-weight: bold;
        }
    }

    .programs-card {
        border-radius: 10px;
        border: 0px;
        text-align: center;

        .programs-card-img {
            border-radius: 10px;
            max-width: 50%;
        }
    }
}

// OUR PROGRAMS (INDIV PAGES) STYLES

.program-box {
    height: 100%;
    padding: 2em;
    background-color: white;
}
.program-img {
    @include center;
    width: 100%;
    max-width: 600px; //image width
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.upcoming-event {
    margin-bottom: 3rem;

    .important { //add this for the header "Upcoming Event"
        margin-top: 2rem;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .program-img {
        max-width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}




// FOOTER STYLES
// #footer-img {
//   width: 100%;
//   height: 300px;
// }

#footer {
    margin-top: 2em;
    background-color: $light-grey;

    #top {
        text-align: left;
        padding-top: 4em;
    }

    .contact {
        i {
            padding-right: 10px;
            font-size: $small-font-description;
            color: #ddd;
        }
    }

    .links {
        a {
            color: #888;
            border: 0; //nullifies base anchor link styles

            &:hover, &:focus {
                color: #555;
                margin-left: 3px;
            }
        }
    }

    .subscribe {
        p {
            word-wrap: break-word;
        }
    }

    .social {
        margin-top: 5em;

        a {
            margin: 0 10px;
            color: #bbb;
            border: 0;

            &:hover, &:focus {
                color: $main-color;
                border: 0;
            }
        }

        i {
            font-size: 24px;
            vertical-align: middle;
        }
    }

    #CR {
        margin: 1em 0 0;
    }
}

.footer-section {
    margin: 0.5em;
}





// MODAL (MEMBER POPUPS IN "ABOUT US") STYLES

.modal-header {
    border: 0;
    padding: 0;
    position: relative;

    .close {  //style close button when screen resizes
        margin: -4px;
        position: absolute;
        top: -1px;
        right: -1px;
        width: 50px;
        height: 50px;
        border-radius: 40px;
        font-size: 0px;
        opacity: 0.3;
        z-index: 10;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAoAAAAMACAYAAAC0CtZPAAAABmJLR0QA/wD/AP+gvaeTAAAN4ElEQVR4nO3dz6okdxnH4e+ZRDSg4GiETG7ACDJZ6dLLEHeCCHElkrVuRBC30YVudKlGcSmiSxE3Ec3G5AY0yAS8gczo4pxKhjPT093V9ftbzwPvut5fU1CfU91wEgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABjL3ZuBEd1N8unWSwDASF5K8s8kbyd5sfEucK7l/v1Hks823gUAhvBSkneS/O9mRCAjWeJvuX//nuQzTTcCgM7djj8RyEhux98yf4ufMwDAUx2KPxHICA7F3zJ/TfKpZtsBQIfu5dnxJwLp2bH4W+YvEYEAkOT0+BOB9OjU+Fvmz0k+2WRTAOjEufEnAunJufG3zJ+SvNBgXwBobm38iUB6sDb+lvljkk9U3xoAGrqX5N2sf3iKQFq6NP6W+UNEIAA7sVX8iUBa2Cr+lvl9ko9XPQEAVPZyto0/EUhNW8ffMr9L8rGK5wCAakrFnwikhlLxt8xvkzxf7TQAUEHp+BOBlFQ6/pZ5MyIQgEl8LtdhVvrhucxb8W+32M7dXN9Tte7fn9Y5FgCU9cUkD1LvASoC2Urt+HuU5LUqJwOACj6f5F+pG4G+DuYStb72XeaDJF+rcjIAqEgEMgrxBwAbEoH0TvwBQAEikF6JPwAoSATSG/EHABWIQHoh/gCgIhFIa+IPABoQgbQi/gCgIRFIbeIPADogAqlF/AFAR0QgpYk/AOiQCKQU8QcAHROBbE38AcAARCBbEX8AMBARyKXEHwAMSASylvgDgIGJQM4l/gBgAiKQU4k/AJiICOQY8QcAExKBHCL+AGBiIpDbxB8A7IAIZCH+AGBHRCDiDwB2SATul/gDgB0Tgfsj/gAAEbgj4g8A+JAInJ/4AwCeIALnJf4AgINE4HzEHwBwlAich/gDAE4mAscn/gCAs4nAcYk/AGA1ETge8QcAXEwEjkP8AQCbEYH9E38AwOZEYL/EHwBQjAjsj/gDAIoTgf0QfwBANSKwPfEHAFQnAtsRfwBAMyKwPvEHADQnAusRfwBAN0RgeeIPAOiOCCxH/AEA3RKB2xN/AED3ROB2xB8AMAwReDnxBwAMRwSuJ/4AgGGJwPOJPwBgeCLwdOIPAJiGCDxO/AEA0xGBh4k/AGBaIvBJ4g8AmJ4I/Ij4AwB2QwSKPwBgh/YcgeIPANitPUag+AMAdm9PESj+AABu7CECxR8AwC0zR6D4AwA4YMYIFH8AAEfMFIHiDwDgRDNEoPgDADjTyBEo/gAAVhoxAsUfAMCFRopA8QcAsJERIlD8AQBsrOcIFH8AAIX0GIHiDwCgsJ4iUPwBAFTSQwSKPwCAylpGoPgDAGjkfpIHqRuBb91Mres9SvLaVh8YAMAMWrwJ9OYPAKCxGSNQ/AEAHDFTBIo/AIATzRCB4g8A4EwjR6D4AwBYacQIFH8AABcaKQLFHwDARkaIQPEHALCxniNQ/AEAFNJjBIo/AIDCeopA8QcAUEkPESj+AAAqaxmB4g8AoJH7SR6kfgB+q8bhAEq503oBgAu8l+Q/Da77apKrBtcFANi1l5O8m3a/AfxF/BENAFBN6/gTgQAAFfUSfyIQAKCC3uJPBAIAFNRr/IlAAIACeo8/EQgAsKFR4k8EAgBsYLT4W+aXSZ4r8HkAAExt1PgTgQAAK4wefyIQAOAMs8SfCAQAOMFs8ScCAQCeYdb4E4EAAE/xYpK3UzfIfpPk/crX/FmSq40+MwCAYbV48/dGrkPslST/rnxtbwIBgF1rGX8LEQgAUEkP8bcQgQAAhfUUfwsRCABQSI/xt2gVgc+f9MkBAAyo5/hbiEAAgI2MEH+LV5K8V3lXEQgATGWk+FuIQACAlUaMv4UIBAA408jxtxCBAAAnmiH+FiIQAOCImeJvIQIBAA6YMf4WIhAA4JaZ428hAgEAbuwh/hYiEADYvT3F36JFBP4qIhAA6MAe428hAgGA3dlz/C1EIACwG+LvIyIQAJie+HuSCAQApiX+DhOBAMB0xN9xIhAAmIb4O50IBACGJ/7OJwIBgGGJv/VEIAAwnHsRf5cSgQDAMMTfdkQgANA98bc9EQgAdEv8lfOFiEAAoDPirzwRCAB0Q/zVIwIBgObEX30iEABoRvy1IwIBgOpaxN+PI/4eJwIBgGrEXz9EIABQnPjrjwgEAIoRf/1qEYG/jggEgKmJv/7dT/IgIhAA2ID4G4cIBAAuJv7GIwIBgNXE37hEIABwNvE3PhEIAJxM/M1DBAIAR4m/+YhAAOAg8TcvEQgAPEH8zU8EAgAfEn/7IQIBAPG3QyIQAHZM/O2XCASAHRJ/iEAA2BHxx0IEAsAOiD9uE4EAMDHxxyEiEAAmJP44RgQCwETEH6cSgQAwAfHHuUQgAAxM/LGWCASAAYk/LiUCAWAg4o+tiEAAGID4Y2uvRgQCQLfEH6WIQADokPijNBEIAB0Rf9QiAgGgA+KP2kQgADQk/mhFBAJAA+KP1kQgAFQk/uiFCASACu4leSfij360iMA3IwIB2AnxR69EIAAUIP7onQgEgA2JP0YhAgFgA+KP0YhAALiA+GNUIhAAVvpu6j5Af57kTpWTsQdfSvLf1Lt/Hyb5SpWTAUBBV0neiDd/jKvWm8APkny10pkAoLirXMdZyYfnTyL+KKd0BD5M8vVqpwGASkpGoPijhlIR+DDJNyqeAwCqKhGB4o+ato7AR0m+WfUEANDAlhEo/mhhywj8duXdAaCZLSJQ/NHSFhH4nepbA0Bjl0Sg+KMHl0Tg6w32BYAurIlA8UdP1kTg95psCgAducp11Ik/RnVOBH6/0Y4A0J1TIlD80bNTIvAHzbYDgE49KwLFHyN4VgT+sOFeANC1p0Wg+GMkT4vAHzXdCAAG8HgEij9G9HgEuocB4ER3cv2vse60XgRW+nKu4889DAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf9H9BsyUTe6t8bAAAAAElFTkSuQmCC');
        background-size: cover;
    }

    .close:active, .close:focus {
        outline: 0;
        border: none;
    }
}
.modal-dialog {
    width: 800px;
    max-width: 100%;
    height: 450px;
    max-height: 100%;
}

.modal-content {
    border-radius: 15px;
}

.modal-body {
    margin: 16px 0;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;

    i {
        padding-left: 10px;
        font-size: 1.17em;
        color: #ddd;
        transition: all .3s;

        &:hover, &:focus {
            color: $main-color;
        }
    }
}

.modal-backdrop {
    background-color: black;
    opacity: 0.2;
}

.name {
    font-weight: bold;

    a {
        border: 0; //nullifies base anchor link styles
    }
}

.img-fluid {
    border-radius: 15px;
}

.modal-trigger { //hover over image
    cursor: pointer;
}




// INTERN PAGE STYLES

.intern {
    padding: 2em;
}

.intern-img {
    margin-top: 0.5em;
    max-width: 100%;
    justify-content: center;
}

//CURATOR.IO STYLES
#curator {
  // a {
  //   text-decoration-style: solid !important;
  //   border: none !important;
  // }

  .instagram-feed {
      margin-top: 5em;
      padding: 0em 2em 0em 2em;
  }

  .instagram-feed-tag {
      margin-top: 2em !important;
      justify-content: center !important;
  }
}

ul{
    padding-left: 6%;
}



// ANIMATIONS

@keyframes bouncing {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0%);
    }
}
