.navbar {
  font-family: system-ui, Helvetica, Arial, sans-serif !important;
  background-color: black !important;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-right: 2em;
  padding-left: 2em;
}

.navbar-brand {
  color: white !important;
  font-size: 40px;
  font-weight: 600;
}

.navbar .navbar-nav .nav-item {
  color: white !important;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-left: 5px;
}

.navbar .navbar-nav .nav-button {
  border-radius: 75px;
  background-color: #ff5959;
  margin: 5px;
  border: 0;
  padding: 0.5em;
}

.navbar .navbar-toggler {
  background-color: #e2e2e2 !important;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #e2e2e2 !important;
}

#intro {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
  padding: 1em;
  margin: 0em 0em 0em 0em;
  text-align: center !important;
  margin-top: 7.5em;
}

#intro .welcome-box-title {
  font-size: 30px;
  font-weight: 800;
}

#intro .welcome-box-description {
  font-weight: 400;
  font-size: 20px;
}

#intro .welcome-button {
  font-weight: 600;
  border-radius: 75px;
  border-color: white;
  font-size: 20px;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background-color: #ff5959;
  margin-bottom: 3em;
}

#intro .top-img {
  max-width: 100%;
  display: none;
}

#mission {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  padding: 1em;
  background-color: #ff5959;
  color: white;
}

#mission .info-box-title {
  font-size: 30px;
  font-weight: 700;
}

#mission .info-box-description {
  font-size: 20px;
  font-weight: 400;
}

#programs {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  padding: 1em;
  background-color: white;
  color: black;
}

#programs .info-box-title {
  font-size: 30px;
  font-weight: 700;
}

#programs .info-box-description {
  font-size: 20px;
  font-weight: 400;
}

@media only screen and (min-width: 920px) {
  .navbar .navbar-nav .nav-item {
    padding-right: 15px;
    padding-left: -15px;
  }
  .navbar {
    margin-top: 10px;
    background-color: white !important;
    padding-right: 10em;
    padding-left: 10em;
  }
  .navbar-brand {
    color: black !important;
    font-size: 30px;
    font-weight: 600;
  }
  .navbar .navbar-nav .nav-item {
    color: black !important;
    font-weight: 600;
    font-size: 16px;
    padding: 1em;
  }
  .navbar .navbar-nav .nav-button .nav-button-text {
    color: white !important;
  }
  #intro {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left !important;
    margin-top: 0em;
  }
  #intro .welcome-box-title {
    font-size: 60px;
    font-weight: 800;
  }
  #intro .welcome-box-description {
    font-size: 22px;
    font-weight: 400;
  }
  #intro .welcome-button {
    margin-bottom: 0em;
  }
  #intro .welcome-box {
    margin-top: 2.5em;
  }
  #intro .top-img {
    display: inline;
  }
  #mission {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
  #programs {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
  }
}
/*# sourceMappingURL=styles.css.map */