$main-color : #ff5959;
$main-font : system-ui, Helvetica, Arial, sans-serif;
$small-font-title: 30px;
$small-font-description: 20px;
$small-padding : 1em;

// HOME PAGE STYLES

@mixin smallFlexCenter {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin largeFlexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

b {
    color: $main-color;
}

// h1 {
//     color: #4f9da6;
// }

.navbar {
    font-family: $main-font !important;
    background-color: $main-color !important;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-right: 2em;
    padding-left: 2em;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    color: white !important;
    font-size: 30px;
    font-weight: 800;
}

.navbar .navbar-nav .nav-item {
    color: white !important;
    font-family: $main-font;
    font-weight: 400;
    font-size: 20px;
    // padding-left: 5px;
    margin: 0 1em 0 1em;
    text-align: center;
}

.navbar .navbar-nav .nav-button {
    border-radius: 10px;
    background-color: $main-color;
    margin: 5px;
    border: 0;
    padding: 0.5em;
}

// .navbar .navbar-nav .nav-item .nav-link .active {
//     color: #ff5959 !important;
// }

// .navbar .navbar-toggler {
//     background-color: white !important;
// }

// .navbar .navbar-toggler .navbar-toggler-icon {
//     background-color: white !important;
// }

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#intro {
    @include smallFlexCenter;
    font-family: $main-font;
    background-color: white;
    color: black;
    padding: 1em 1em 5em 1em;
    margin: 0em 1em 0em 1em;
    height: 80vh;

    text-align: center !important;

    margin-top: 7.5em;

    .welcome-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        font-size: 36px;
    }
    .welcome-box-description {
        font-weight: 400;
        font-size: $small-font-description;
        color: black;
    }
    .welcome-button {
        font-weight: 400;
        border-radius: 10px;
        border-color: white;
        font-size: 20px;
        padding: 0.5em 2em 0.5em 2em;
        background-color: #ff5959;
        margin-bottom: 3em;
    }
    .top-img {
        max-width: 100%;
        // flex: column-reverse;
        // display: none;
    }
}

#newsletter {
    @include smallFlexCenter;
    font-family: $main-font;
    background-color: white;
    color: black;
    padding: 1em 1em 5em 1em;
    margin: 0em 0em 0em 0em;
    height: 80vh;

    text-align: center !important;

    margin-top: 7.5em;

    .newsletter-box-title {
        font-size: $small-font-title;
        font-weight: 800;
    }
    .newsletter-box-description {
        font-weight: 400;
        font-size: $small-font-description;
    }
    .newsletter-button {
        font-weight: 400;
        border-radius: 10px;
        border-color: white;
        font-size: 20px;
        padding: 0.5em 2em 0.5em 2em;
        background-color: #ff5959;
        margin-bottom: 3em;
    }
    .newsletter-img {
        max-width: 100%;
        // padding-right: 20em;
        // margin-right: 20em;
        // flex: column-reverse;
        // display: none;
    }
}

// #programs {
//     @include smallFlexCenter;
//     font-family: $main-font;

//     padding: 1em;
//     background-color: white;
//     color: black;

//     .info-box-title {
//         font-size: $small-font-title;
//         font-weight: 700;
//     }
//     .info-box-description {
//         font-size: $small-font-description;
//         font-weight: 400;
//     }
// }

// ABOUT US PAGE STYLES

.aboutus {
    @include smallFlexCenter;
    font-family: $main-font;
    background-color: white;
    color: black;
    padding: 1em 1em 5em 1em;
    margin: 0em 1em 0em 1em;
    height: 100%;

    text-align: center !important;

    margin-top: 2.5em;

    .aboutus-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 0.5em;
    }
    .aboutus-box-description {
        font-weight: 400;
        font-size: $small-font-description;
        color: black;
    }

    .stats-box {
        .stats-box-title {
            font-size: $small-font-title;
            font-weight: 800;
            font-size: 120px;
            color: #4f9da6;
        }
        .stats-box-description {
            font-weight: 400;
            font-size: 24px;
            color: black;
        }
    }
}

.team {
    @include smallFlexCenter;
    font-family: $main-font;
    height: 100%;

    padding: 2em;
    background-color: white;
    color: black;

    margin-top: -5em;

    .team-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        margin-top: 0em;
        font-size: 40px;
    }
    .team-box-description {
        font-size: $small-font-description;
        font-weight: 400;
        color: black;
        // font-size: 18px;
        margin: 1em 1em 1em 1em;
    }

    .team-divider {
        background-color: #FAFAFA !important;
        text-align: center;
        font-size: 32px !important;

        .team-divider-header {
            color: black !important;
            font-weight: 800;
        }
    }

    .teamcard {
        padding: 2em;
        margin-bottom: -3em;
        border-radius: 10px;
        border: 1px white;ss

        .teamcard-img {
            border-radius: 10px;
            max-width: 50%;
        }
        .teamcard-title {
            font-weight: 700 !important;
            font-size: 24px;
            text-align: center;
        }
        .teamcard-description {
            font-size: 18px;
            color: black;
            text-align: center;
        }
    }
}

.partners {
    @include smallFlexCenter;
    font-family: $main-font;
    background-color: white;
    color: black;
    padding: 1em 1em 5em 1em;
    margin: 0em 1em 0em 1em;
    height: 100%;

    text-align: center !important;

    margin-top: 0em;

    .partners-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 0.5em;
    }
    .partners-box-description {
        font-weight: 400;
        font-size: $small-font-description;
        color: black;
    }
    .partners-img {
        max-width: 100%;
        // flex: column-reverse;
        // display: none;
    }
}

// OUR PROGRAMS STYLES

.breakdown {
    @include smallFlexCenter;
    font-family: $main-font;
    height: 100%;

    padding: 2em;
    // background-color: #FAFAFA;
    color: black;
    margin-top: 1.5em;

    .info-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        margin-top: 0em;
        font-size: 40px;
    }
    .info-box-description {
        font-size: $small-font-description;
        font-weight: 400;
        color: black;
        margin: 1em 2em 1em 2em;
    }

    .breakdown-card {
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        .breakdown-card-title {
            font-weight: 800 !important;
            font-size: 36px;
        }
        .breakdown-card-description {
            font-size: 18px;
            color: black;
            // color: rgba(0, 0, 0, 0.7);
        }
        .breakdown-card-img-top {
            max-height: 250px;
            justify-content: center;
        }
    }
}

.programs {
    @include smallFlexCenter;
    font-family: $main-font;
    height: 100%;

    padding: 2em;
    background-color: white;
    color: black;

    margin-top: -5em;

    .programs-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        margin-top: 0em;
        font-size: 40px;
    }
    .programs-box-description {
        font-size: $small-font-description;
        font-weight: 400;
        color: black;
        // font-size: 18px;
        margin: 1em 1em 1em 1em;
    }

    .programs-divider {
        background-color: #FAFAFA !important;
        text-align: center;
        font-size: 32px !important;

        .programs-divider-header {
            color: black !important;
            font-weight: 800;
        }
    }

    .programs-card {
        // padding: 2em;
        // margin-bottom: -3em;
        border-radius: 10px;
        border: 0px white;ss

        .programs-card-img {
            border-radius: 10px;
            max-width: 50%;
        }
        .programs-card-title {
            font-weight: 800 !important;
            font-size: 32px;
            text-align: center;
        }
        .programs-card-description {
            font-size: 18px;
            color: black;
            text-align: center;
        }
    }
}

.programs {
    @include smallFlexCenter;
    font-family: $main-font;
    height: 100%;

    padding: 2em;
    // background-color: #FAFAFA;
    color: black;
    margin-top: 1.5em;

    .info-box-title {
        font-size: $small-font-title;
        font-weight: 800;
        margin-top: 0em;
        font-size: 40px;
    }
    .info-box-description {
        font-size: $small-font-description;
        font-weight: 400;
        color: black;
        margin: 1em 2em 1em 2em;
    }

    .program-card {
        padding: 0em;
        border-radius: 10px;
        border: 0 white;
        .program-card-title {
            font-weight: 800 !important;
            font-size: 30px;
        }
        .program-card-description {
            font-size: 18px;
            color: black;
            // color: rgba(0, 0, 0, 0.7);
        }
        // .program-card-img-top {
        //     max-height: 250px;
        //     justify-content: center;
        // }
    }
}

@media only screen and (min-width: 920px) {
    // .navbar .navbar-nav .nav-item {
    //     padding-right: 30px;
    //     padding-left: -30px;
    // }
    .navbar {
        margin-top: 10px;
        background-color: white!important;
        padding-right: 10em;
        padding-left: 15em;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
    .navbar-brand {
        color: black !important;
        font-size: 30px;
    }
    
    .navbar .navbar-nav .nav-item {
        color: black!important;
        font-weight: 600;
        padding: 1em;         
        font-size: 16px;
    }
    .navbar .navbar-nav .nav-button .nav-button-text {
        color: white !important;
    }
    
    #intro {
        flex: row;
        @include largeFlexCenter();
        margin-top: -2em;
        text-align: left !important;
        .welcome-box-title {
            font-size: 54px;
            font-weight: 800;
        }
        .welcome-box-description {
            font-size: 18px;
            font-weight: 400;
        }
        .welcome-button {
            margin-bottom: 0em;
        }
        .welcome-box {
            margin-top: 8em;
            float: left;
        }
        .top-img {
            display: inline;
            max-width: 130%;
            margin-right: -10em;
        }
        // .home-img {
        //     margin-right: 1em;
        // }
    }

    #newsletter {
        flex: row;
        @include largeFlexCenter();
        // margin-top: -2em;
        text-align: left !important;
        
        height: 85vh;

        .newsletter-box-title {
            font-size: 54px;
            font-weight: 800;
        }
        .newsletter-box-description {
            font-size: 18px;
            font-weight: 400;
        }
        .newsletter-button {
            margin-bottom: 0em;
        }
        .newsletter-box {
            margin-top: 10em;
            float: left;
        }
        .newsletter-img {
            display: inline;
            max-width: 130%;
            margin-left: -15em;
        }
    }
        
    #programs {
        @include largeFlexCenter();
        height: 50vh;
    }

    // ABOUT US PAGE STYLES

    .aboutus {

        height: 50vh;

        margin-top: 0em;
        margin-bottom: -7.5em;
    
        // .aboutus-box-title {
        //     font-size: $small-font-title;
        //     font-weight: 800;
        //     font-size: 42px;
        // }
        .aboutus-box-description {
            margin: 0 5em 0.5em 5em;
        }
    }
    
    // .team {
    
    // }
    
    .partners {
        // @include smallFlexCenter;
        // font-family: $main-font;
        // background-color: white;
        // color: black;
        // padding: 1em 1em 5em 1em;
        // margin: 0em 1em 0em 1em;
        height: 50vh;

        margin-top: 0em;
        margin-bottom: 0em;
    
        // text-align: center !important;
    
        // margin-top: 0em;
    
        // .partners-box-title {
        //     font-size: $small-font-title;
        //     font-weight: 800;
        //     font-size: 42px;
        //     margin-bottom: 0.5em;
        // }
        .partners-box-description {
            margin: 0 5em 0.5em 5em;

        }
        .partners-img {
            max-width: 100%;
            // flex: column-reverse;
            // display: none;
        }
    }
    
    .team {
        @include smallFlexCenter;
        font-family: $main-font;
        height: 100%;
    
        padding: 2em;
        background-color: white;
        color: black;
    
        .team-box-title {
            font-size: $small-font-title;
            font-weight: 800;
            margin-top: 0em;
            font-size: 40px;
        }
        .team-box-description {
            font-size: $small-font-description;
            font-weight: 400;
            // color: rgba(0, 0, 0, 0.7);
            // font-size: 18px;
            margin: 1em 12.5em 1em 12.5em;
        }
    
        .team-divider {
            background-color: #FAFAFA !important;
            text-align: center;
            font-size: 32px !important;
    
            .team-divider-header {
                color: black !important;
                font-weight: 800;
            }
        }
    
        .teamcard {
            padding: 2em;
            margin-bottom: -3em;
            border-radius: 10px;
            border: 1px white;ss
    
            .teamcard-image {
                border-radius: 100px;
                max-width: 50%;
            }
            .teamcard-title {
                font-weight: 700 !important;
                font-size: 24px;
                text-align: center;
            }
            .teamcard-description {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.7);
                text-align: center;
            }
        }
    }

    // OUR PROGRAMS STYLES 

    #breakdown {
        @include largeFlexCenter();
        height: 100vh;

        padding: 0em;        
        
        .info-box-title {
            margin-top: -1em;
        }

        .info-box-description {
            // font-size: 18px;
            margin: 1em 10em 2em 10em;
        }
        
        .breakdown-card {
            padding: 2em;
            margin: 0em;
                
            .breakdown-card-img-top {
                max-height: 150px;
            }

            .breakdown-card-title {
                font-weight: 800 !important;
                font-size: 36px;
            }
                        
            // .breakdown-card-description {
            //     font-size: 18px;
            // }
        }
    }
}