$main-color : #ff5959;
$main-font : system-ui, Helvetica, Arial, sans-serif;
$small-font-title: 30px;
$small-font-description: 20px;
$small-padding : 1em;

@mixin flexCenter {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: white !important;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-right: 2em;
    padding-left: 2em;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    color: #ff5959 !important;
    font-size: 40px;
    font-weight: 600;
}

.navbar .navbar-nav .nav-item {
    color: gray !important;
    font-family: $main-font;
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
}

.navbar .navbar-toggler {
    background-color: white !important;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: white !important;
}

#intro {
    @include flexCenter;
    font-family: $main-font;
    background-color: white;

    padding: $small-padding;

    text-align: center !important;

    // padding-top: 10em;

    .welcome-box-title {
        font-size: $small-font-title;
        font-weight: 700;
    }
    .welcome-box-description {
        font-weight: 400;
        font-size: $small-font-description;
    }
    .welcome-button {
        font-weight: 600;
        border-radius: 75px;
        border-color: white;
        font-size: 20px;
        padding: 0.5em 1.5em 0.5em 1.5em;
        background-color: #ff5959;
    }
    .top-img {
        max-width: 100%;
    }
}

#mission {
    @include flexCenter;
    font-family: $main-font;

    padding: 1em;
    background-color: #ff5959;
    color: white;

    .info-box-title {
        font-size: $small-font-title;
        font-weight: 700;
    }
    .info-box-description {
        font-size: $small-font-description;
        font-weight: 400;
    }
}

#programs {
    @include flexCenter;
    font-family: $main-font;

    padding: 1em;
    background-color: rgb(253, 253, 253);
    color: black;

    .info-box-title {
        font-size: $small-font-title;
        font-weight: 700;
    }
    .info-box-description {
        font-size: $small-font-description;
        font-weight: 400;
    }
}

@media only screen and (min-width: 720px) {
    .navbar .navbar-nav .nav-item {
        padding-right: 15px;
        padding-left: 15px;
    }
    #intro {
        text-align: left !important;
    }
}